{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block content %}
<div class="profile">
    <div class="profile-summary container col-4 float-left rounded mt-4">
        <img src="{{user.image_url}}" alt="user's picture" class="img-thumbnail" id="profile-picture">
        <h2 class="h2">{{user.full_name}}</h1>
        <h2 class="user-field">Email: {{user.email}}</h2>
        <h3 class="user-field">INSTRUMENT</h3>
        {% if instruments %}
            <h3 class="user-field-data">{% for instrument in instruments %}{{instrument}}, {% endfor %}</h3>
        {% endif %}
            <h3 class="user-field">WORK</h3>
        {% if roles %}
            <h3 class="user-field-data">{% for role in roles %}{{role}}, {% endfor %}</h3>
        {% endif %}
            <h3 class="user-field">LOCATION</h3>
        {% if user.region_id %}
            <h3 class="user-field-data">{{user.regions.city}}, {{user.regions.state}}</h3>
        {% else %}
        <h3><a href="{{user.id}}/edit"><i class="fas fa-edit"></i></a></i></h3>
        {% endif %}
        <h3 class="user-field">EXPERTISE</h3>
        {% if genres %}
            <h3 class="user-field-data">{% for genre in genres %}{{genre}} {% endfor %}</h3>
        {% endif %}
        <h3 class="user-field"><a method="POST" href="/users/{{user.id}}/view-cv">View CV</a></h3>
        {% if g.user.id == user.id %}
        <h3 class="user-field">Edit user info<a href="{{user.id}}/edit"><i class="fas fa-edit"></i></a></i></h3>
        <h3 class="user-field">Add Instrument<a href="{{user.id}}/add-instrument"><i class="fas fa-edit"></i></a></i></h3>
        <h3 class="user-field">Add Genre<a href="{{user.id}}/add-genre"><i class="fas fa-edit"></i></a></i></h3>
        {% endif %}
    </div>
    <div class=" container float-right col-8 mt-4">
            <div class="row">
                <div class="profile-summary col rounded">
                    <h1 class="h2 mt-3">Events
                    {% if g.user.id == user.id %}
                    <a href="/users/{{user.id}}/events/new"><i class="fas fa-plus"></i></a>
                    {% endif %}
                    </h1>
                    {% for event in events %}
                    <div class="card-body float-left">
                        <h3 class="card-title" id="event-header">{{event.title}}</h3>
                        <p class="card-text" id="event-body">{{event.address}}<br> {{event.regions.city}}, {{event.regions.state}} <br>{{event.date}}</p>
                        <form action="/events/{{event.id}}">
                            <button  class="btn" id="submit-button">More Info</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="profile-summary col rounded">
                    <h1 class="h2 mt-3">Jobs
                        {% if g.user.id == user.id %}
                        <a href="/users/{{user.id}}/jobs/new"><i class="fas fa-plus"></i></a>
                        {% endif %}
                        </h1>
                {% for job in jobs %}
                    <div class="card-body float-left">
                            <h3 class="card-title" id="event-header">{{job.title}}</h3>
                            <p class="card-text" id="event-body">{{job.pay}}<br> {{job.regions.city}}, {{job.regions.state}} <br>{{job.date}}</p>
                            <form action="/jobs/{{job.id}}">
                            <button  class="btn" id="submit-button">More Info</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="profile-summary col rounded">
                    <h3 class="mt-3">About {{user.first_name}}</h3>
                    <p>{{user.bio}}</p>
                </div>
            </div>
            {% for id in id_list %}
                    <ul>Title: {{works["works"][id]["title"]}}
                        <li>Genre: {{works["genre"]}}</li>
                        <li>ID: <a href="/works/{{works['works'][id]['id']}}">{{works["works"][id]["id"]}}</a></li>
                    </ul>    
            {% endfor %}
    {% if g.user.id == user.id %}       
    <form action="/users/{{user.id}}/delete" method="POST">
        <input type="submit" value="Delete User" class="btn btn-danger"/>
    </form>
    {% endif %}   
    </div>
</div>
{% endblock %}