{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center mt-3">Active Musicians</h3>
    <ul class="list-group col-8 mx-auto m-3">
        {% for user in users %}
            <li class="list-group-item"><a  class="font-weight-bold" href="/users/{{ user.id }}">{{ user.full_name }}</a></li>
        {% endfor %}
    </ul>
    <h3 class="text-center"><a href="/users/search">Don't see who you are looking for?</a></h3>

    <!-- <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on( 'connect', function() {
          socket.emit( 'my event', {
            data: 'User Connected'
          })
          var form = $( 'form' ).on( 'submit', function( e ) {
            e.preventDefault()
            let user_name = $( 'input.username' ).val()
            let user_input = $( 'input.message' ).val()
            socket.emit( 'my event', {
              user_name : user_name,
              message : user_input
            })
            $( 'input.message' ).val( '' ).focus()
          })
        });
        socket.on( 'my response', function( msg ) {
            console.log( msg )
            if( typeof msg.user_name !== 'undefined' ) {
              $( 'h3' ).remove()
              $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
            }
          }); -->
    </script>
{% endblock %}